*{
  text-align: center;
}
body{
  background-image:url(back2.jpg);
}
.container{
  background-color: #35567;
}
img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
button{
  color: #34556;
}
