*{
  text-align: center;
}
body{
  background-image:url("back7.jpg");
}
.container{
  background-color: black;
}
img{
  display:block;
  margin-left: 10px;
  margin-right: 150px;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
}
button{
  color: #maroon;
}
h1{
  color:black;
}
body{
  background-color: pink;
}
#player1{
  color:darkred;
}
#player2{
  color:darkred;
}
h2{
  color:darkred;
}
.Start{
  color:forestgreen;
}
